
{% extends 'header.html' %}

{% block body %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
{% block title %}
<title>Create Material</title>
{% endblock title %}
<section class="content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card card-dark">
        <div class="card-header">
          <h3 class="card-title">Create Material</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Material Name</label>
              <input type = "text" class="form-control" id="name" name="name" placeholder="Enter material name">
            </div>
            <div class="form-group col-md-6">
              <label for="name">Material Category</label>
              <select class="form-control" id="category" name="category" onchange = "check_category();">
                <option selected disabled value = "">---Please Select---</option>
                <option value = "Weight">Weight</option>
                <option value = "Cardio">Cardio</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Weight(kgs)</label>
              <input readonly type = "number" class="form-control" id="weight" name="weight" placeholder="Enter weight" value = 0>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <div class = "row">
              <div class = "offset-md-10 col-md-1" id = "reset_btn_div">
                <button type="button" id = "reset_btn" class="btn btn-danger float-right" onclick="reset_form();">Reset</button>
              </div>
              <div class = "col-md-1" id = "create_btn_div">
                <button type="button" id = "create_btn" class="btn btn-success float-right" onclick="create_material_ajax();">Submit</button>
              </div>
              <div style = "display:none" class = "col-md-1" id = "edit_btn_div">
                <button type="button" id = "edit_btn" class="btn btn-primary float-right" onclick="edit_material_ajax();">Edit</button>
              </div>
              
            </div>
            
          </div>
        </div>
        <!-- /.card -->
        <div class="col-md-12">
          <table style="display: none" id="table-data" class="table table-striped " width="100%">
            <thead>
              <th>Material Name</th>
              <th>Category</th>
              <th>Weight</th>
              <th>Entry Date</th>
              <th>Operator</th>
              <th>Action</th>
            </thead>
          </table>
        </div>
      </div>
    </div>
</section>
{% include "modals.html" %}


<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>

<script>

  $( document ).ready(function() {
    get_material_ajax();
  });

  function reset_form()
  {
    $('#name').val("");
    $('#category').val("");
    $('#weight').val("");

    $("#edit_btn_div").hide();
    $("#create_btn_div").show();
    $('#id').attr("readonly", false);
  }

  function check_category()
  {
    const category = $('#category').val();

    if(category == 'Weight')
    {
        $('#weight').attr("readonly", false);
    }

    else
    {
        $('#weight').attr("readonly", true);
        $('#weight').val(0);
    }

  }

  function create_material_ajax()
  {
    const name = $('#name').val();
    const category = $('#category').val();
    const weight = $('#weight').val();
    
    if(name == '' || category == '' || weight == '')
    {
      alert("Fill the required data!");
      return
    }


    const data = {
      'name': name,
      'category': category,
      'weight': weight,
    };
    
    const payload = JSON.stringify(data);

    $.ajax({
      type:'POST',
      url: 'create_material_ajax',
      data : {
        payload
      },
      success: function(response)
      {
          if(response == 'true')
          {
            alert('Material creation successful.');

            reset_form();

            get_material_ajax();
          }

          else
          {
            alert(response);
          }
      }
    });
  }

  function get_material_ajax()
  {
		$('#table-data').show();
			
		$('#table-data').dataTable({
			destroy: true,
			"scrollX":true,
	    
			"ajax":
	    	{
		    	"type":'POST',
		    	"data":
		    	{
		      	},

	      		"url":'get_material_ajax',
            "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]],
	    	},

	    	"dom": 'Bfrtip',
			"buttons": [
						'pageLength','csv', 'excel'
			],

		});
	}


  function edit_material(id, name, category, weight)
  {
    $('#name').val(name);
    $('#category').val(category);
    $('#weight').val(weight);
    material_id = id;


    if(category == 'Weight')
    {
        $('#weight').attr("readonly", false);
    }

    else
    {
        $('#weight').attr("readonly", true);
        $('#weight').val(0);
    }
    
    $("#edit_btn_div").show();
    $("#create_btn_div").hide();
  }
  

  function edit_material_ajax()
  {
    const name = $('#name').val();
    const category = $('#category').val();
    const weight = $('#weight').val();

    
    if(name == '' || category == '' || weight == '')
    {
      alert("Fill the required data!");
      return
    }


    const data = {
      'name': name,
      'category': category,
      'weight': weight,
      'id':material_id,
    };
    
    const payload = JSON.stringify(data);

    $.ajax({
      type:'POST',
      url: 'edit_material_ajax',
      data : {
        payload
      },
      success: function(response)
      {
          if(response == 'true')
          {
            alert('Material updation successful.');

            reset_form();

            get_material_ajax();
          }

          else
          {
            alert(response);
          }
      }
    });
  }


  function delete_material_ajax(id)
  {
    const data = {
      'id': id,
    };
    
    const payload = JSON.stringify(data);

    $.ajax({
      type:'POST',
      url: 'delete_material_ajax',
      data : {
        payload
      },
      success: function(response)
      {
          if(response == 'true')
          {
            alert('Material deletion successful.');

            get_material_ajax();
          }

          else
          {
            alert(response);
          }
      }
    });
  }
</script>
{% endblock body %}